In [1]:
from datetime import datetime
import pandas as pd
import numpy as np

In [2]:
last_visits_df = pd.read_csv('tabla_visitas.csv', index_col=0)
last_visits_df.to_csv('tabla_visitas_anterior.csv')
last_visits_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22067 entries, 0 to 22066
Data columns (total 7 columns):
fecha            22067 non-null object
hora             22067 non-null object
persona          22067 non-null int64
grupo            22067 non-null int64
Uno              22067 non-null int64
Concesionario    22067 non-null int64
Sexo             22067 non-null int64
dtypes: int64(5), object(2)
memory usage: 1.3+ MB

In [3]:
# last_visits_df = last_visits_df[last_visits_df['fecha'] < '2019-07-26'] # para dejar el conteo nuevo en el "solape"
last_visits_df.fecha.value_counts()

2019-10-26    409
2019-09-14    365
2019-11-03    350
2019-09-28    334
2019-10-20    332
2019-09-07    332
2019-10-19    318
2019-09-29    317
2019-09-21    300
2019-10-05    294
2019-09-08    287
2019-10-27    285
2019-08-24    284
2019-10-06    278
2019-08-17    263
2019-09-22    259
2019-07-27    252
2019-07-13    247
2019-09-15    238
2019-10-12    230
2019-07-20    227
2019-11-02    227
2019-08-03    227
2019-10-18    225
2019-08-10    225
2019-10-13    224
2019-10-11    223
2019-08-04    223
2019-10-28    215
2019-08-25    214
             ...
2019-09-04    111
2019-07-23    111
2019-08-01    111
2019-07-17    109
2019-07-04    108
2019-08-26    108
2019-07-19    106
2019-07-09    102
2019-06-26    102
2019-07-15     99
2019-07-18     98
2019-09-03     96
2019-07-16     94
2019-08-05     94
2019-08-29     92
2019-07-26     90
2019-07-25     90
2019-08-28     88
2019-07-24     87
2019-07-12     87
2019-07-02     85
2019-08-08     82
2019-06-28     73
2019-07-05     62
2019-07-07     61
2019-10-25     57
2019-07-08     50
2019-06-29     45
2019-07-11     38
2019-10-24     37
Name: fecha, Length: 132, dtype: int64

In [4]:
fecha_ultimo_conteo = "2019-11-03"

visits_df_1 = pd.read_csv('1/tabla_visitas_1.csv', index_col=0)
visits_df_1 = visits_df_1[visits_df_1['fecha'] > fecha_ultimo_conteo]
visits_df_2 = pd.read_csv('2/tabla_visitas_2.csv', index_col=0)
visits_df_2 = visits_df_2[visits_df_2['fecha'] > fecha_ultimo_conteo]
visits_df_3 = pd.read_csv('3/tabla_visitas_3.csv', index_col=0)
visits_df_3 = visits_df_3[visits_df_3['fecha'] > fecha_ultimo_conteo]
visits_df_4 = pd.read_csv('4/tabla_visitas_4.csv', index_col=0)
visits_df_4 = visits_df_4[visits_df_4['fecha'] > fecha_ultimo_conteo]

visits_dfs = [visits_df_1, visits_df_2, visits_df_3, visits_df_4]

for visits_df in visits_dfs:
    print(visits_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 103 to 272
Data columns (total 5 columns):
fecha            144 non-null object
hora             144 non-null object
persona          144 non-null int64
Concesionario    144 non-null float64
Sexo             144 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 6.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 170 entries, 97 to 287
Data columns (total 5 columns):
fecha            170 non-null object
hora             170 non-null object
persona          170 non-null int64
Concesionario    170 non-null float64
Sexo             170 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 8.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 729 to 1897
Data columns (total 5 columns):
fecha            1084 non-null object
hora             1084 non-null object
persona          1084 non-null int64
Concesionario    1084 non-null float64
Sexo             1084 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 50.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 40 to 81
Data columns (total 5 columns):
fecha            33 non-null object
hora             33 non-null object
persona          33 non-null int64
Concesionario    33 non-null float64
Sexo             33 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.5+ KB
None

In [5]:
print(len(visits_df_1.persona.unique()))
print(len(visits_df_2.persona.unique()))

print(min(visits_df_1.persona.unique()))
print(max(visits_df_1.persona.unique()))

print(min(visits_df_2.persona.unique()))
print(max(visits_df_2.persona.unique()))

137
165
17
376
3
391

In [6]:
for visits_df in visits_dfs:
    
    persona = 1
    
    for person in np.sort(visits_df.persona.unique()):
        visits_df.loc[visits_df['persona'] == person, 'persona'] = persona
        persona += 1
        
visits_df_2.persona += max(visits_df_1.persona.unique())
visits_df_3.persona += max(visits_df_2.persona.unique())
visits_df_4.persona += max(visits_df_3.persona.unique())

In [7]:
print(len(visits_df_1.persona.unique()))
print(len(visits_df_2.persona.unique()))

print(min(visits_df_1.persona.unique()))
print(max(visits_df_1.persona.unique()))

print(min(visits_df_2.persona.unique()))
print(max(visits_df_2.persona.unique()))

137
165
1
137
138
302

In [8]:
print(len(visits_df_3.persona.unique()))
print(min(visits_df_3.persona.unique()))
print(max(visits_df_3.persona.unique()))

1048
303
1350

In [9]:
visits_df = pd.concat(visits_dfs, ignore_index=True)
print(visits_df.persona.max())
visits_df.info()

1383
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1431 entries, 0 to 1430
Data columns (total 5 columns):
fecha            1431 non-null object
hora             1431 non-null object
persona          1431 non-null int64
Concesionario    1431 non-null float64
Sexo             1431 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 56.0+ KB

In [10]:
visits_df['grupo'] = 1

for i in visits_df.index[1:]:
    try:
        hora_ant = datetime.strptime(visits_df.loc[i-1, 'hora'], '%H:%M:%S.%f')
    except ValueError:
        hora_ant = datetime.strptime(visits_df.loc[i-1, 'hora'], '%H:%M:%S')
    try:
        hora = datetime.strptime(visits_df.loc[i, 'hora'], '%H:%M:%S.%f')
    except ValueError:
        hora = datetime.strptime(visits_df.loc[i, 'hora'], '%H:%M:%S')
                             
    misma_fecha = (visits_df.loc[i-1, 'fecha'] == visits_df.loc[i, 'fecha'])
    mismo_concesionario = (visits_df.loc[i-1, 'Concesionario'] == visits_df.loc[i, 'Concesionario'])
                             
    if ((hora - hora_ant).seconds < 15) & misma_fecha & mismo_concesionario:
        visits_df.loc[i, 'grupo'] = visits_df.loc[i-1, 'grupo']
    else: 
        visits_df.loc[i, 'grupo'] = visits_df.loc[i-1, 'grupo'] + 1

In [11]:
visits_df['Uno'] = 1

In [12]:
visits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1431 entries, 0 to 1430
Data columns (total 7 columns):
fecha            1431 non-null object
hora             1431 non-null object
persona          1431 non-null int64
Concesionario    1431 non-null float64
Sexo             1431 non-null object
grupo            1431 non-null int64
Uno              1431 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 78.3+ KB

In [13]:
visits_df.columns

Index(['fecha', 'hora', 'persona', 'Concesionario', 'Sexo', 'grupo', 'Uno'], dtype='object')

In [14]:
visits_df.Sexo.value_counts()

Male      1087
Female     344
Name: Sexo, dtype: int64

In [15]:
visits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1431 entries, 0 to 1430
Data columns (total 7 columns):
fecha            1431 non-null object
hora             1431 non-null object
persona          1431 non-null int64
Concesionario    1431 non-null float64
Sexo             1431 non-null object
grupo            1431 non-null int64
Uno              1431 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 78.3+ KB

In [16]:
visits_df = visits_df[['fecha', 'hora', 'persona', 'grupo', 'Uno', 'Concesionario', 'Sexo']]
visits_df['Sexo'] = visits_df['Sexo'].replace({'Male': 1, 'Female': 2})
visits_df['Concesionario'] = visits_df['Concesionario'].astype('int64')

print(visits_df.Sexo.value_counts())
visits_df.info()

1    1087
2     344
Name: Sexo, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1431 entries, 0 to 1430
Data columns (total 7 columns):
fecha            1431 non-null object
hora             1431 non-null object
persona          1431 non-null int64
grupo            1431 non-null int64
Uno              1431 non-null int64
Concesionario    1431 non-null int64
Sexo             1431 non-null int64
dtypes: int64(5), object(2)
memory usage: 78.3+ KB

In [17]:
last_visits_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22067 entries, 0 to 22066
Data columns (total 7 columns):
fecha            22067 non-null object
hora             22067 non-null object
persona          22067 non-null int64
grupo            22067 non-null int64
Uno              22067 non-null int64
Concesionario    22067 non-null int64
Sexo             22067 non-null int64
dtypes: int64(5), object(2)
memory usage: 1.3+ MB

In [18]:
print(min(last_visits_df.persona))
print(max(last_visits_df.persona))

print(min(visits_df.persona))
print(max(visits_df.persona))

print(min(last_visits_df.grupo))
print(max(last_visits_df.grupo))

print(min(visits_df.grupo))
print(max(visits_df.grupo))

1
22098
1
1383
1
19075
1
1115

In [19]:
visits_df.persona += max(last_visits_df.persona)
visits_df.grupo += max(last_visits_df.grupo)

In [20]:
print(min(last_visits_df.persona))
print(max(last_visits_df.persona))

print(min(visits_df.persona))
print(max(visits_df.persona))

print(min(last_visits_df.grupo))
print(max(last_visits_df.grupo))

print(min(visits_df.grupo))
print(max(visits_df.grupo))

1
22098
22099
23481
1
19075
19076
20190

In [21]:
joined_visits_df = pd.concat((last_visits_df, visits_df), ignore_index=True)
joined_visits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23498 entries, 0 to 23497
Data columns (total 7 columns):
fecha            23498 non-null object
hora             23498 non-null object
persona          23498 non-null int64
grupo            23498 non-null int64
Uno              23498 non-null int64
Concesionario    23498 non-null int64
Sexo             23498 non-null int64
dtypes: int64(5), object(2)
memory usage: 1.3+ MB

In [23]:
joined_visits_df.to_csv('tabla_visitas.csv')

joined_visits_df.to_excel('tabla_visitas.xlsx')

In [24]:
joined_visits_df.Concesionario.value_counts()

3    16064
1     3303
2     3283
4      848
Name: Concesionario, dtype: int64

In [25]:
joined_visits_df.fecha.value_counts()

2019-10-26    409
2019-09-14    365
2019-11-03    350
2019-09-28    334
2019-10-20    332
2019-09-07    332
2019-10-19    318
2019-09-29    317
2019-11-09    314
2019-09-21    300
2019-10-05    294
2019-09-08    287
2019-10-27    285
2019-08-24    284
2019-10-06    278
2019-08-17    263
2019-09-22    259
2019-07-27    252
2019-11-10    251
2019-07-13    247
2019-09-15    238
2019-10-12    230
2019-07-20    227
2019-11-02    227
2019-08-03    227
2019-10-18    225
2019-08-10    225
2019-10-13    224
2019-10-11    223
2019-08-04    223
             ...
2019-09-04    111
2019-08-01    111
2019-07-23    111
2019-07-17    109
2019-08-26    108
2019-07-04    108
2019-07-19    106
2019-06-26    102
2019-07-09    102
2019-07-15     99
2019-07-18     98
2019-09-03     96
2019-07-16     94
2019-08-05     94
2019-08-29     92
2019-07-25     90
2019-07-26     90
2019-08-28     88
2019-07-12     87
2019-07-24     87
2019-07-02     85
2019-08-08     82
2019-06-28     73
2019-07-05     62
2019-07-07     61
2019-10-25     57
2019-07-08     50
2019-06-29     45
2019-07-11     38
2019-10-24     37
Name: fecha, Length: 139, dtype: int64

In [26]:
joined_visits_df.head()

        fecha             hora  persona  grupo  Uno  Concesionario  Sexo
0  2019-06-25  10:41:08.880000        1      1    1              1     1
1  2019-06-25  10:52:10.880000        2      2    1              1     1
2  2019-06-25  10:52:12.240000        3      2    1              1     1
3  2019-06-25  11:04:01.200000        4      3    1              1     1
4  2019-06-25  11:55:05.440000        5      4    1              1     2

In [27]:
joined_visits_df.pivot_table(columns='Concesionario', index='fecha', values='persona', aggfunc='count')

Concesionario     1     2      3     4
fecha
2019-06-25     16.0  17.0   90.0   2.0
2019-06-26     22.0  14.0   63.0   3.0
2019-06-27     22.0   9.0   98.0   8.0
2019-06-28      NaN   NaN   73.0   NaN
2019-06-29     32.0   NaN    NaN  13.0
2019-06-30     17.0  19.0   89.0  11.0
2019-07-01     22.0  18.0  102.0  12.0
2019-07-02      9.0  18.0   58.0   NaN
2019-07-03     15.0  16.0   85.0   NaN
2019-07-04     23.0  14.0   67.0   4.0
2019-07-05     30.0  30.0    NaN   2.0
2019-07-06     55.0  47.0    NaN  14.0
2019-07-07     21.0  31.0    NaN   9.0
2019-07-08     22.0  25.0    NaN   3.0
2019-07-09     21.0  21.0   55.0   5.0
2019-07-10     22.0  32.0   58.0   5.0
2019-07-11     23.0  14.0    NaN   1.0
2019-07-12     23.0  17.0   42.0   5.0
2019-07-13     35.0  35.0  174.0   3.0
2019-07-14     53.0  20.0  117.0  13.0
2019-07-15     13.0  21.0   61.0   4.0
2019-07-16     17.0  10.0   60.0   7.0
2019-07-17     22.0  27.0   56.0   4.0
2019-07-18     22.0  20.0   52.0   4.0
2019-07-19     18.0  24.0   58.0   6.0
2019-07-20     31.0  37.0  158.0   1.0
2019-07-21     37.0  24.0  119.0   4.0
2019-07-22     16.0  13.0   82.0   4.0
2019-07-23     18.0  15.0   65.0  13.0
2019-07-24     24.0   NaN   59.0   4.0
...             ...   ...    ...   ...
2019-10-12      NaN  24.0  203.0   3.0
2019-10-13      NaN  24.0  189.0  11.0
2019-10-14      NaN  23.0  143.0   7.0
2019-10-15     15.0  19.0  103.0   3.0
2019-10-16     12.0  21.0  111.0   3.0
2019-10-17     21.0  22.0  153.0  11.0
2019-10-18     15.0  46.0  159.0   5.0
2019-10-19     25.0  32.0  253.0   8.0
2019-10-20     28.0  36.0  260.0   8.0
2019-10-21     15.0  24.0  130.0   4.0
2019-10-22     11.0  25.0  104.0   1.0
2019-10-23     15.0  31.0  113.0   1.0
2019-10-24     22.0  14.0    NaN   1.0
2019-10-25     37.0  19.0    NaN   1.0
2019-10-26     53.0  45.0  296.0  15.0
2019-10-27     18.0  24.0  230.0  13.0
2019-10-28     23.0  24.0  165.0   3.0
2019-10-29     16.0  21.0  132.0   2.0
2019-10-30     29.0  12.0  117.0   5.0
2019-10-31     29.0  18.0  108.0   5.0
2019-11-01     17.0  23.0   91.0   3.0
2019-11-02     36.0  20.0  156.0  15.0
2019-11-03     25.0  24.0  283.0  18.0
2019-11-04     18.0  25.0  162.0  13.0
2019-11-05     11.0  28.0  103.0   2.0
2019-11-06     19.0  20.0  127.0   2.0
2019-11-07     19.0  30.0  125.0   3.0
2019-11-08     15.0  24.0  114.0   6.0
2019-11-09     36.0  26.0  251.0   1.0
2019-11-10     26.0  17.0  202.0   6.0

[139 rows x 4 columns]

In [36]:
ff = joined_visits_df.pivot_table(columns='Concesionario', index='fecha', values='persona', aggfunc='count')

In [38]:
import matplotlib.pyplot as plt

plt.figure(figsize=(18, 6))
plt.plot(ff[2])
plt.ylabel('Frecuencia')
plt.xticks(ff.index, rotation='vertical')
plt.show()